@font-face {
    font-family: "Gilroy";
    src: url(gilroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url(gilroy/Gilroy-Medium.ttf);
}
@font-face {
    font-family: "Gilroy-semibold";
    src: url(gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: "Gilroy-bold";
    src: url(gilroy/Gilroy-Bold.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn {
    outline: 0px !important;
    box-shadow: none !important;
    color: inherit !important;
}

body {
    background-color: #090808;
    color: #FFFFFF;
    font-family: "Gilroy-semibold";
    scroll-behavior: smooth;
}
body .wrapper {
    background-image: url('../images/body-bg.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-position: center; */
    background-size: cover;
}
.navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.6px;
    padding: 10px 60px 10px 0px !important;
    color: #FFFFFF;
    /* color: #D22557;
    color: #FF457B; */
}
.btn-main {
    background-color: #FF457B;
    border-radius: 50px;
    min-width: 150px;
    padding: 10px 15px !important;
    color: #FFFFFF !important;
}

.main-content{
    min-height: 100vh;
    padding: 50px 0px;
    background-image: url('../images/section-bg.png');
    background-size: calc(100% + 60px);
    background-position: top center;
}

.footer-section {
    background-color: #000000;
    padding: 80px 0px 20px;
}
.footer-section .footer-top {
    padding-bottom: 50px;
}
.footer-top .footer-logo img{
    max-width: 198px;
}
.footer-top .footer-heading{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.5px;
    margin-bottom: 12px;
}
.footer-top .footer-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Gilroy";
    color: #9E9E9E;
}
.footer-top .footer-link a{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Gilroy";
    display: inline-block;
    text-decoration: none;
    color: #9E9E9E;
}
.footer-section .footer-copyright{
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    color: #9E9E9E;
}
.footer-section .footer-copyright a{
    color: #FFFFFF;
}

.page-heading {
    font-size: 96px;
    font-style: italic;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    margin-bottom: 50px;
}

.main-card {
    border: 2px solid #2e282c;
    padding: 54px 20px 38px;
    border-radius: 4px;
    position: relative;
}
.main-card .vector-icon{
    position: absolute;
    left: 8px;
    top: 5px;
}
.main-card .newslatter-form{
    max-width: 806px !important;
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #2e282c;
    border-radius: 50px;
}
.main-card .newslatter-form .input-group{
    display: flex;
    width: 100%;
    align-items: center;
}
.main-card .newslatter-form .input-group .input-div{
    flex: 1;
}
.main-card .newslatter-form .input-group .input-div input{
    padding: 10px 25px;
    border: 0px;
    background-color: transparent;
    color: #FFFFFF;
    outline: 0px;
    box-shadow: none;
}
.main-card .newslatter-form .btn-main{
    border-radius: 50px !important;
}
.main-card .text{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24.76px;
    text-align: center;
    max-width: 947px;
    margin: auto;
    margin-bottom: 30px;
}
.main-card .btn-main {
    min-width: 250px;
}
.btn-icon {
    background-color: #FF457B;
    border-radius: 50px;
    padding: 8px 10px;
    color: #FFFFFF !important;
}

.add-to-cart-card.main-card {
    padding: 18px 16px;
}
.add-to-cart-card.main-card .vector-icon {
    top: 10px;
}
.add-to-cart-card .title {
    max-width: 747px;
    text-align: center;
    margin-bottom: 18px;
}
.add-to-cart-card .item {
    border: 2px solid #2e282c;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #AFAFAF;
    margin-bottom: 10px;
}
.add-to-cart-card .item .d-flex {
    gap: 50px;
    align-items: center;
}
.text-white {
    color: #FFFFFF;
}
.add-to-cart-card .item .item-qty {
    border: 2px solid #2e282c;
    padding: 8px 10px;
    border-radius: 4px;
}
.add-to-cart-card .total-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #AFAFAF;
    max-width: 270px;
    margin-left: auto;
}
.add-to-cart-bottom-button{
    padding: 40px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #AFAFAF;
}
.add-to-cart-bottom-button .btn-main{
    min-width: 280px;
}

.tabs-section .nav-tabs {
    border: 0px;
    gap: 20px;
    justify-content: center;
}
.tabs-section .nav-tabs .nav-link {
    width: calc(25% - 20px);
    border: 2px solid #2e282c;
    border-radius: 8px;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #A8A8A8;
}
.tabs-section .nav-tabs .nav-link.active {
    border-color: #FF3F84;
    color: #FFFFFF;
    background-color: inherit;
}
.tabs-section .tab-content .tab-pane .top-text {
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.26px;
    color: #EDEDED;
    margin-bottom: 24px;
}
.tabs-section .tab-content .tab-pane p {
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #A096AF;
}

.section-heading{
    font-family: "Gilroy-bold";
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    margin-bottom: 24px;
}

.tabs-carousel .nav-tabs .nav-link {
    width: calc(100% - 20px);
}

/* Carousel */

.owl-nav button {
    position: absolute;
    top: 30%;
    color: #FFFFFF!important;
    margin: 0;
    transition: all 0.3s ease-in-out;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 20px!important;
    line-height: 1!important;
}
.owl-nav button.owl-prev {
    left: -30px;
}
.owl-nav button.owl-next {
    right: -30px;
}
.owl-nav button:focus {
    outline: none;
}

.ranking-section {
    padding: 20px 0px 80px;
}
.ranking-section .ranking-product-card {
    height: 222px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid #2e282c;
    border-radius: 8px;
    background-color: #120D10;
}
.ranking-section .ranking-product-card .img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
}
.ranking-section .ranking-product-card .img {
    background-color: rgba(255, 255, 255, 2%);
    padding: 20px;
}
.ranking-section .ranking-product-card .img img{
    max-width: 113px;
}
.ranking-section .ranking-product-card .content {
    padding: 20px;
    flex: 1;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.26px;
    color: #A8A8A8;
}
.ranking-section .ranking-product-card .content .product-price{
    font-family: "Gilroy-bold";
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #FFFFFF;
}


.sklep-section .ranking-product-card {
    margin-top: 20px;
}
.sklep-section .ranking-product-card.active {
    border-color: #FF3F84;
    position: relative;
}
.sklep-section .ranking-product-card.active::before {
    content: "Promocja";
    border: 2px solid #FF3F84;
    background-color: #120D10;
    border-radius: 8px;
    font-family: "Gilroy-bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.6px;
    width: 130px;
    position: absolute;
    top: -20px;
    right: 12px;
    height: 32px;
    padding: 4px;
    text-align: center;
}
.sklep-section .ranking-product-card .content {
    padding: 10px
}
.sklep-section .ranking-product-card .content .product-title {
    font-family: "Gilroy-bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.76px;
    color: #FFFFFF;
}
.sklep-section .ranking-product-card .content .btn-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.sklep-section .ranking-product-card .content .img-fluid {
    max-width: 25px;
}
.sklep-section .ranking-product-card .content .product-tag {
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}
.sklep-section .ranking-product-card .content .product-price {
    font-family: "Gilroy-bold";
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
    margin: 12px 0px;
}
.sklep-section .ranking-product-card .content .product-price .cut-price {
    font-family: "Gilroy-bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.5px;
    color: #FF3E3E;
    position: absolute;
    top: 0px;
    left: 120px;
}
.sklep-section .ranking-product-card .content .product-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sklep-section .owl-nav button {
    top: 50%;
}

.admin-cards-section .admin-card {
    border: 2px solid #2e282c;
    border-radius: 8px;
    padding: 30px 40px;
    max-width: 420px;
    height: 100%;
    font-family: "Gilroy-Medium";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.41px;
    color: #A8A8A8;
    position: relative;
    background-color: #120D10;
}
.admin-cards-section .admin-card::before {
    background-color: rgba(255, 255, 255, 2%);
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    content: " ";
    height: 150px;
    width: 100%;
    top: 0px;
    left: 0px;
}
.admin-cards-section .admin-card .top-content {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}
.admin-cards-section .admin-card .top-content .title {
    font-family: "Gilroy-bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 29.71px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.admin-cards-section .admin-card .social-content {
    padding-bottom: 30px;
}
.admin-cards-section .admin-card .social-content .icon-flex {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
}
.admin-cards-section .admin-card .social-content .icon-flex .icon{
    width: 40px;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}

.table-content {
    padding: 50px 0px;
}
.table-content .table-heading {
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #555555;
}
.table-content .table-body {
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.26px;
    color: #CECECE;
}
.table-content .table-body .row{
    border: 2px solid #2e282c;
    border-radius: 8px;
    padding: 12px 0px;
    margin-bottom: 18px;
}
.table-content .table-body .row.row-FFD363{
    border-color: #FFD363;
    background-color: rgba(255, 211, 99, 0.16);
}
.table-content .table-body .row.row-AEAEAE{
    border-color: #AEAEAE;
    background-color: rgba(174, 174, 174, 0.16);
}
.table-content .table-body .row.row-9E5B35{
    border-color: #9E5B35;
    background-color: rgba(158, 91, 53, 0.16);
}
.table-content .table-body .d-flex {
    gap: 20px;
}
.table-content .table-body .tag {
    font-size: 12px;
    line-height: 14.56px;
    color: #8A8A8A;
}
.table-content .table-footer  {
    padding: 30px 0px;
}
.table-content .table-footer .btn-main {
    min-width: 250px;
}

.page-img {
    max-width: 1050px;
    margin: auto;
}

.banner-section {
    background-image: url('../images/baner-bg.png');
    /* background-size: contain; */
    background-position: right;
    background-repeat: no-repeat;
    min-height: 300px;
}
.banner-section .left-content {
    background-image: url('../images/baner-vector.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 12px 12px;
    height: 100%;
}
.banner-section .left-content .center-content {
    padding: 10px 50px;
}
.banner-section .title {
    color: #FA4F4F;
    font-family: "Gilroy-bold";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 40px;
}
.banner-section .heading {
    font-family: "Gilroy-bold";
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 10px;
}
.banner-section .text {
    font-family: "Gilroy-Medium";
    color: #CFCFCF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.41px;
}

.header-index {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    position: relative;
}
.header-index::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url('../images/hero-logo-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.hero-section {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    position: relative;
}
.hero-section .vector-down {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 50px;
    bottom: 50px;
    font-size: 42px;
}
.hero-section .heading {
    font-family: "Gilroy-bold";
    font-size: 128px;
    font-style: italic;
    font-weight: 400;
    line-height: 163.2px;
}
.hero-section .text {
    font-family: "Gilroy";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.8px;
    color: #CFCFCF;
    margin: 5px 0px 30px;
}
.hero-section .btn-main {
    min-width: 190px;
}
.hero-section .dot {
    width: 10px;
    height: 10px;
    background-color: #D22557;
    display: inline-block;
    border-radius: 50px;
}
.text-D22557 {
    color: #D22557;
}

.main-content-index{
    background-image: none;
    padding-bottom: 0px;
}

.partnerzy-section,
.statystyki-section,
.tailer-section {
    background-image: url('../images/trailer-bg.png');
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
}
.partnerzy-section::before,
.tailer-section::before {
    content: " ";
    background-color: #2e282c;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.partnerzy-section::after,
.statystyki-section::after,
.tailer-section::after {
    content: " ";
    background-image: url('../images/section-bg.png');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1001;
}
.partnerzy-section .container,
.statystyki-section .container,
.tailer-section .container {
    position: relative;
    z-index: 10000;
}
.tailer-section .btn-main {
    min-width: 190px;
}
.tailer-section .video-panel {
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;
}

.statystyki-section {
    background-image: url('../images/statystyki-bg.png');
}
.statystyki-section .statystyki-card {
    border: 2px solid #494548;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 32px;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #CFCFCF;
    margin-bottom: 8px;
}
.statystyki-section .statystyki-card .icon img{
    width: 92px;
}
.statystyki-section .statystyki-card .price {
    font-family: "Gilroy-bold";
    font-size: 32px;
    font-weight: 400;
    line-height: 39.62px;
    color: #D22557;
}

.partnerzy-section {
    background-image: url('../images/partnerzy-bg.png');
}
.partnerzy-section::before {
    opacity: 0.8;
}
.partnerzy-section .partnerzy-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    align-items: center;
    gap: 18px;
}
.partnerzy-section .partnerzy-flex .img{
    border: 2px solid #494548;
    border-radius: 8px;
    padding: 15px 10px;
    background: #24191e;
}
.partnerzy-section .partnerzy-flex .img img {
    width: 130px;
}

#productModal .modal-dialog {
    max-width: 950px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#productModal .modal-content {
    background-color: #120D10;
    padding: 10px 20px;
}
#productModal .modal-content .modal-body{
    position: relative;
    padding: 0px;
}
#productModal .modal-content .modal-body .vector-back{
    top: 0px;
    position: absolute;
    left: 10px;
}
#productModal .modal-content .modal-body .vector-back .btn{
    font-size: 28px;
    padding: 0px;
    color: #525252 !important;
    font-weight: 400;
    font-family: "Gilroy";
}
#productModal .modal-content .modal-body .title {
    font-family: "Gilroy-bold";
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.76px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
#productModal .main-card {
    padding: 10px 20px;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #A096AF;
}
#productModal .main-card h4{
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.26px;
    color: #EDEDED;
}
#productModal .btn-main{
    min-width: 250px;
    max-width: 100%;
}

.navbar-nav .dropdown-menu{
    background: transparent;
}
.navbar-nav .dropdown-item {
    padding-left: 0px;
    color: #C5C5C5;
}
.navbar-nav .dropdown-item:hover {
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .mb-none{
        display: none;
    }
    .header {
        background-color: #000000;
    }
    .navbar-nav .nav-link{
        padding: 5px 0px !important;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .partnerzy-section::after,
    .statystyki-section::after,
    .tailer-section::after,
    .main-content {
        background-image: none;
    }
    .footer-section .footer-top {
        text-align: center;
    }
    .footer-section .footer-top .col-12{
        margin-bottom: 45px;
    }

    .page-heading{
        font-size: 48px;
        line-height: 60px;
    }

    .hero-section .vector-down {
        bottom: 0px;
    }
    .hero-section {
        justify-content: center;
        align-items: baseline;
        text-align: center;
        padding-bottom: 80px;
    }
    .hero-section .row {
        flex-direction: column-reverse;
    }
    .hero-section .col-12 {
        padding: 0px;
    }
    .hero-section .img {
        max-width: 280px;
        margin: auto;
        margin-bottom: 15px;
    }
    .hero-section .heading {
        font-size: 64px;
        line-height: 73.2px;
        margin-top: 20px;
    }
    .hero-section .mb-buttons .btn-main {
        max-width: 180px;
        padding: 12px 40px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .partnerzy-section,
    .statystyki-section,
    .tailer-section {
        min-height: auto;
    }
    .partnerzy-section .partnerzy-flex {
        gap: 10px;
        justify-content: space-around;
        padding: 0px;
    }
    .partnerzy-section .partnerzy-flex .img{
        max-width: calc(50% - 10px);
    }

    .banner-section {
        display: none;
    }
    .section-heading {
        font-size: 40px;
        line-height: 50px;
    }
    .sklep-section .ranking-product-card .content .btn-main{
        font-size: 14px;
        line-height: 20px;
    }

    .main-card .newslatter-form .btn-main{
        width: 97px;
        min-width: auto;
        white-space: nowrap;
        overflow: hidden;
    }
    .main-card {
        margin-top: 70px;
    }
    .add-to-cart-card.main-card .vector-icon,
    .main-card .vector-icon {
        left: 0px;
        top: -60px;
    }
    .main-card .vector-icon .btn {
        font-size: 28px;
    }
    .add-to-cart-card .mb-flex { 
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .add-to-cart-card .item {
        width: calc(50% - 10px);
        display: inline-block;
        margin-left: 5px;
        padding-left: 10px;
    }
    .add-to-cart-card .item .text-white {
        text-align: center;
        display: block;
    }
    .add-to-cart-card .item .left-content .d-flex {
        display: block !important;
    }
    .add-to-cart-card .item .right-content .d-flex {
        justify-content: center;
    }
    .add-to-cart-card .item .right-content .d-flex div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .add-to-cart-card .item .right-content .d-flex div.mb-none{
        display: none;
    }
    .add-to-cart-card .item .right-content .d-flex div .d-md-none{
        width: 28px;
        margin-left: 8px;
    }
    .add-to-cart-card .item .right-content .d-flex .text-white {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .add-to-cart-card .item .item-qty {
        display: block;
        text-align: left;
        width: 70px;
    }
    .add-to-cart-card .total-price{
        margin-left: 0px;
        text-align: center;
        max-width: 100%;
        margin-top: 14px;
    }

    .tabs-section .nav-tabs .nav-link {
        width: 100%;
    }
    .table-content .table-body .d-flex{
        display: block !important;
        text-align: center;
    }
    .table-content .table-body .row,
    .tab-content .table-body .row {
        text-align: center;
    }
    .tab-content .table-body .row .text-mb-start {
        text-align: start;
    }
    .table-content .table-body .avatar-img,
    .tab-content .table-body .avatar-img {
        margin-bottom: 14px;
    }
    .table-content .table-body .row .text-end,
    .tab-content .table-body .row .text-end {
        margin-top: 15px;
        text-align: center !important;
    }
    .table-content .table-body .row>div {
        margin-bottom: 18px;
    }
}



